@import "mixins";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

// utility
a {
    text-decoration: none;
    color: $primary-color;
    transition: all .5s;
}

a:hover {
    color: $secondary-color;
}

i {
    color: $primary-color;
}

ul {
    list-style: none;
}

// utility end
header {
    nav {
        .nav-top {
            @include flexbox;
            padding: 10px 0;
            border-bottom: $border;

            .branding {
                border-right: $border;
                padding: 7px 10px;

                img {
                    height: 26px;
                }
            }

            .pagination {
                @include flexbox;
                margin-right: 10px;

                li {
                    margin-left: 5px;
                    border: $border;
                    padding: 10px 15px;
                    border-radius: 5px;
                    transition: .5s all;
                    cursor: pointer;

                    &:hover {
                        border-color: $danger-color;
                        transition: 0.5s all;
                    }

                    &:hover i {
                        color: $danger-color;
                        transition: .5s all;
                    }

                    &:nth-child(3) {
                        background-color: #00A6EB;
                        transition: .5s all;

                        &:nth-child(3):hover {
                            background-color: $danger-color;
                        }

                        a {
                            color: $succes-color;
                            font-size: 14px;
                        }

                        i {
                            color: $succes-color;
                        }
                    }

                    i {
                        font-size: 16px;
                    }
                }
            }
        }

        .contact {

            border-bottom: $border;

            .contact-item {
                @include flexbox;
                padding: 10px;

                .contact-us {
                    @include flexbox;

                    li {
                        font-size: 14px;

                        &:last-child {
                            padding-left: 20px;
                            font-family: sans-serif;
                        }

                        a {
                            font-size: 14px;
                            padding: 3px 20px 3px 0;
                            border-right: $border;
                        }

                        i {
                            color: $secondary-color;
                            font-size: 14px;
                        }
                    }
                }

                .social-icon {
                    @include flexbox;

                    li {
                        padding: 0 5px;
                        border-right: $border;

                        a {
                            padding: 0 10px;

                            &:hover i {
                                color: $secondary-color;
                            }

                            i {
                                font-size: 13px;
                                transition: .5s all;
                            }
                        }
                    }
                }
            }
        }
        .navigation{
            box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
            .navbar{
                @include flexbox;
                padding: 15px 0;
                .logo{
                    padding-left: 5px;
                    a{
                        color: #0C2E8A;
                        font-size: 42px;
                        font-weight: 700;
                        font-family: "Montserrat", sans-serif;
                        span{
                            color: $secondary-color;
                        }
                    }
                }
                .navigation-menu{
                    @include flexbox;
                    & > li{
                        padding: 20px 13px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    & > li:first-child a{
                        color: $secondary-color;
                    }
                    & > li:hover .submenu{
                        display: block;
                    }
                    .dropdown{
                        position: relative;
                        .submenu{
                            position: absolute;
                            top: 55px;
                            background-color: $succes-color;
                            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                            padding: 10px;
                            min-width: 200px;
                            display: none;
                            z-index: 99;
                            li{
                                padding: 10px;
                            }
                        }
                    } 
                }
                label{
                    display: none;
                    font-size: 24px;
                }
                input{
                    display: none;
                }
            }
        }
    }
}